<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="container">
        <h1>This is cart page of the using the cart device.</h1>
        <h1>This is cart page of the using the cart device.</h1>
        <h1>This is cart page of the using the cart device.</h1>
        <h1>This is cart page of the using the cart device.</h1>
        <h1>This is cart page of the using the cart device.</h1>
    </div>
</body>

</html>