.nav-button {
  font-weight: 800;
  transition: transform 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}

.nav-button:hover {
  transform: scale(1.1);
  color: #ff6125;
  /* border-bottom: 5px solid #ff6125; */
}

.logo-nav {
  /* border: 1px solid black; */
}
.logo-text {
  width: 110px !important;
  margin-left: -20px;
  /* border: 1px solid black; */
}
