.Basic_form{
    background-color: #7878ff;
    height: 50vh;
    width: 100%;
    display: flex;
    color: white;
}

.Basic_form_under{
    background-color: #02b2e8;
    padding: 50px;
    width: 25%;
    border-radius: 50px;
    margin: auto auto;    
}