.header {
  background-color: #f0f0f0;
  /* background-image: url("../../../public/images/asset\ 1.jpeg"); */
  background-image: url("../../../public/images/bg\ banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.heading-title2 {
  background-color: rgba(53, 43, 43, 0.5) !important;
}

.heading-title {
  height: 100% !important;
  border-radius: 8px;
}

.heading-title h1 {
  font-weight: 700;
  color: white !important;
  /* color: #ff6125 !important; */
}

.heading-title h1 h2 {
  font-weight: 800;
  color: #753b05;
}

.para-heading {
  font-size: 18px;
  color: black !important;
}

/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.banner-dynamic-img {
  /* background: linear-gradient(to top, #ff6125, transparent); */
  /* background-color: white; */
  border-radius: 8px;
  width: 90%;
  padding: 40px 0;
}

/* .img-fluid {
  background-color: #ff512f;
} */

.banner-dynamic-img img {
  opacity: 0.5;
  width: 100% !important;
  height: 100%;
}

.banner-button {
  display: flex;
  align-items: end;
  justify-content: end;
}
